<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product Card/Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <main>
      <nav class="header navbar navbar-expand-lg navbar-light nav-bg">
        <div class="container">
            <a class="navbar-brand" href="/">Logo</a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html#about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html#product">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html#contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class = "card-wrapper">
      <div class = "card">
        <!-- card left -->
        <div class="center">
          <div class = "product-imgs">
            <div class = "img-display">
              <div class = "img-showcase">
                <% product.images.map(product =>{ %>
                  <img src = <%= product %> alt = "Product Image">
                <% }) %>
              </div>
            </div>
            <!-- <div class = "img-select">
              <% product.images.map(product => { %>
                <div class = "img-item">
                  <a href = "#" data-id = "1">
                    <img src = <%= product %> alt = "Product Image">
                  </a>
                </div>
              <% }) %>
            </div> -->
          </div>
        </div>
        <!-- card right -->
        <div class="center">
          <div class = "product-content">
            <h2 class = "product-title"><%= product.title %></h2>
            <!-- <a href = "#" class = "product-link">visit nike store</a>
            <div class = "product-rating">
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star-half-alt"></i>
              <span>4.7(21)</span>
            </div> -->

            <div class = "product-price">
              <p class = "last-price"> <span>Rs.257.00</span></p>
              <p class = "new-price"><span>Rs.249.00</span></p>
            </div>

            <div class = "product-detail">
              <!-- <h2>about this item: </h2> -->
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus dolore nobis cumque quae qui soluta porro eligendi unde maxime! Qui explicabo libero pariatur eos enim beatae exercitationem nam adipisci ducimus? rror minus atque culpa odit impedit explicabo. Laborum, inventore? t consectetur adipisicing elit. Illo eveniet veniam tempora fuga tenetur placeat sapiente architecto illum soluta consequuntur, aspernatur quidem at sequi ipsa!</p>
              <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, perferendis eius. Dignissimos, labore suscipit. Unde.</p> -->
              <ul>
                <li>Display Size: <span><%= product?.displaySize || "NA"  %></span></li>
                <li>Control: <span><%= product?.control || "NA"  %></span></li>
                <li>Input: <span><%= product?.input || "NA"  %></span></li>
                <li>Audio: <span><%= product?.audio || "NA"  %></span></li>
                <li>Type: <span><%= product?.type || "NA" %></span></li>
                <li>Colour: <span><%= product?.colour || "NA" %></span></li>
                <li>Optics: <span><%= product?.optics || "NA" %></span></li>
              </ul>
            </div>

            <div class = "purchase-info">
              <!-- <input type = "number" min = "0" value = "1">
              <button type = "button" class = "btn">
                Add to Cart <i class = "fas fa-shopping-cart"></i>
              </button> -->
              <a href="/#contact" class="btn buyBtn">Buy</a>
            </div>

            <!-- <div class = "social-links">
              <p>Share At: </p>
              <a href = "#">
                <i class = "fab fa-facebook-f"></i>
              </a>
              <a href = "#">
                <i class = "fab fa-twitter"></i>
              </a>
              <a href = "#">
                <i class = "fab fa-instagram"></i>
              </a>
              <a href = "#">
                <i class = "fab fa-whatsapp"></i>
              </a>
              <a href = "#">
                <i class = "fab fa-pinterest"></i>
              </a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="footer center">
      <p style="text-align: center; padding: 0; margin: 0;">&copy; 2021, Xarvin</p>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://use.fontawesome.com/db8a44c194.js"></script>
  <script src="js/particles.js"></script>
  <script src="js/app.js"></script>
  <script src="js/script.js"></script>
  </body>
</html>